$RedColor=#FC436D
$darkTextColor=#333
ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
gradient()
  background: linear-gradient(to left,#FA4DBE 0,#FBAA58 100%)
gradient2()
    background: linear-gradient(to left,rgba(255,113,233,.91) 0,rgba(254,92,158,.91) 100%);
